<div>
	<h1>Articl.es</h1>
	<h3>...my cousin works for bit.ly</h3>
</div>
<div>
	<%= link_to image_tag('arrow_left.png') + ' back', articles_path, :title => 'Go back to the articles' %>
	<h3>Editing '<%= @article.title %>'</h3>
	<%= render 'form' %>
</div>
