
.atopbar{
  margin-left:

  text-align: right; 20em;
  margin-right: 20em;
  border-width: 2px;
  border-style: solid;

  text-align: left;
  ul {
    list-style-type: none;
    display: inline;
  }
}

a {
	color:red;
 	&:visited {color: #DC143C}
 	&:hover {
    color: black;
	}
}

h1 {
  text-align: center;
}

label {
  width: 8em;
  float: left;
  text-align: right;
  margin-right: 5em;
  display: block; 
}

.actions {
  margin-left: 15em;
}