.header {
	margin-left: 40%;
}

body{
	margin: 30px;
}

h2 {
	display: inline;
}

ul{
	list-stlye-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline;
	padding-right: 5em;
}

th {
	background: #6D6D6D;
	color: black;	
}

.rating, .title {
	text-align: left;
	width: 10em;
}

.date {
	text-align: left;
	width: 20em;
}
.buttons {
	width: 7em;
	background: white;
}

.odd_row {
	background-color: #DBDBDB;
}

.games {
	height: 25em;
	width: 65em;
	overflow: auto;
}

label {
	width: 10em;
	float: left;
	text-align: right;
	margin-right: 3em;
	display: block;	
}

.actions {
	margin-left: 13em;
}

a {
	padding:2px 2px 2px 2px;
	margin:2px;
	color:red;
}
a:visited {
	color:#DC143C;
}
a:hover, .pagi a:active {
	color:white;
	text-color:black;	
}

.new_game_button {
	margin-left: 20em;
}