// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article_list {
	overflow:auto;
	heigh:20em;
	width:65em;
}
.heading {
	margin-left:37%;
}
th {
	color: #000;
	background: #666;
}
.butt {
	background:width;
	width:5em;
}
.artcont {
	text-align:left;
	width:27em;
}
.auth, .ttl {
	text-align:left;
	width:12em;
}
.dat {
	text-align:left;
	width: 7em;
}
.light {
	background:#d9d9d9;
}
.dark {
	background:#b3b3b3;
}
.links {
	margin:0;
	padding:0;
	list-style-type: none;
}
li {
	display:inline;
	padding-right:4em;
}
