// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article_list {
	overflow:auto;
	heigh:20em;
	width:65em;
}
.heading {
	margin-left:37%;
}
.article_new {
	margin-left:10em;
}
th {
	color: #000;
	background: #666;
}
.butt {
	background:white;
	width:5em;
}
.artcont {
	text-align:left;
	width:27em;
}
.auth, .ttl {
	text-align:left;
	width:12em;
}
.dat {
	text-align:left;
	width: 7em;
}
.light {
	background:#d9d9d9;
}
.dark {
	background:#b3b3b3;
}
.links {
	margin:0;
	padding:0;
	list-style-type: none;
}
li {
	display:inline;
	padding-right:4em;
}
h2 {
	display:inline;
}
body {
	margin-left:25px;
}
a {
	color:#60504a;
	&:visited {color:purple;}
	&:hover {
		color:red;
		background-color:#60312C;
	}
}
label {
	width:10em;
	float:left;
	text-align:right;
	margin-right:3em;
	display:block;
}

