// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	margin:25px;
	width:70em;
}
h2,h3 {
	display:inline;
	width:68em;
}
.heading {
	margin-left:37%;
} 
.article_list {
	width:68em;
	height:25em;
	overflow:auto;
}
.table_header {
	width:68em;
}
.article_new {
	margin-left:20em;
}	
th {
	color:#000;
	background:#666;
}
.butt {
	background:white;
	width:5em;
}
.artcont {
	text-align:left;
	width:27em;
}
.auth, .ttl {
	text-align:left;
	width:12em;
}
.dat {
	text-align:left;
	width: 7em;
}
.light {
	background:#d9d9d9;
}
.dark {
	background:#b3b3b3;
}
.actions {
	margin-left:13em;
}
.links {
	margin:0;
	padding:0;
	list-style-type:none;
}
li {
	display:inline;
	padding-right:4em;
}
ul.errors {
	list-style-type:circle;
}
.error_item {
	display:list-item;	
}
label {
	width:10em;
	float:left;
	text-align:right;
	margin-right:3em;
	display:block;
}

