body {
	margin-left:20px;
	background-color:#aaaaaa;
	font-family:arial;
	padding:0;
}

div#top {
	background-color:#cccccc;
	color:black;
	border-style:solid;
	border-width:1px;
}

h1{
	color:black;
	margin: 0;
	padding: 5px 5px 0px 5px;
}

p {
	color:black;
	margin: 0;
	padding: 5px 5px 0px 5px;
}

header {
	color:#666666;
	height:auto;
}

div#main {
	background-color:white;

}

div#menu {
	background-color:black;
	height:40px;
	margin-top:0px;
}

ul#links {
	text-align:center;
	color:white;
	list-style-type:none;
	margin:0;
	padding:0;
}

ul#links li {
	
	height:inherit;
	padding-right:20px;
	padding-left:20px;
	display:inline block;
	float:left;
}