body {
	margin-left:20px;
	margin-right:20px;
	background-color:#aaaaaa;
	font-family:arial;
	text-align:center;
	padding:0;
	width:900px;
}

div#top {
	background-color:#cccccc;
	color:black;
	border-style:solid;
	border-width:1px;
}

h1{
	letter-spacing: -1px;
	color:black;
	margin: 0;
	padding: 5px 5px 0px 5px;
	font-style:bold;
}

a {
	text-decoration:none;
	position: relative;
	z-index: 25;
	color: #ffffff;
}

p {
	color:black;
	margin: 0;
	padding: 5px 5px 0px 5px;
}

h5 {
	padding: 0 0 0 0;
	
	margin: 0 5px 5px 5px;
	color: #666666;
	font-weight: normal;
}
header {
	color:#666666;
	height:auto;
}

div#page {
	margin-left:auto;
	margin-right:auto;
	background-color:white;
	height:auto;
	text-align:left;
	border-style:solid;
	border-width:1px;
}

div#main-content {
	background-color:white;
	width:inherit;
	height:250px;
	margin-left:20px;
}

div#left {
	float:left;
}

div#feelings {
	padding:10px;
}

div#menu {
	background-color:black;
	height:40px;
	margin-top:0px;
}

ul#links {
	text-align:center;
	color:white;
	list-style-type:none;
	margin:0;
	padding:0;
}

ul#links li {
	font-weight:bold;
	height:inherit;
	padding-right:20px;
	padding-left:20px;
	display:inline block;
	float:left;
	margin-top:10px;
}

div#right {
	background-color:#f0f0ff;
	width:300px;
	float:right;
	margin:10px;
	padding:5px;
}

div#footer {
	margin-top:30px;
	margin-left:-1px;
	margin-right:-1px;
	background-color:#f0f0ff;
	height:25px;
	width:auto;
	border-style:solid;
	border-width:1px;
	font-size:12px;
	font-style:bold;
	text-align:center;
	padding:10px;
}