<% content_for :subtitle do %>
	<h3>...my cousin works for bit.ly</h3>
<% end %>
<div>
	<%= link_to image_tag('arrow_left.png') + ' back', @req, :title => 'Go back' %>
	<br /><br />
	<h2>Editing "<%= @article.title %>"</h2>
	<br /><br />
	<%= render 'form' %>
</div>
